@model lr4_kpo_1.Models.Course
<h2>Удалить курс</h2>
<p>Вы уверены, что хотите удалить "@Model.Name"?</p>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Удалить</button>
    <a asp-action="Index">Отмена</a>
</form>