@{
    ViewData["Title"] = "Home Page";
}
@using lr4_kpo_1.ViewModels
@model CoursesVm

<div class="text-center">
    <h1 class="display-4">Courses</h1>
</div>
<table border="1">
    <tr>
        <th>Course</th>
        <th>Description</th>
        <th>Professor</th>
    </tr>
    @foreach (var course in Model.Courses)
    {
        <tr>
            <td>@course.Name</td>
            <td>@course.Description</td>
            <td>@course.ProfessorName</td>
        </tr>
    }
</table>
